/* 
    Document   : Style1
    Created on : 27 avr. 2013, 21:27:46
    Author     : TAYACHE
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    
}
#global_container{
    display: block;
    position: static;
    margin: auto;
    min-height: 100%;
    width: 64%;

     
} 
#container {
    display: block;
    position: relative;
    left: 5px;
    top:5px;
    width: 80%;
    border-style: groove;
    border-width: 2px;
    border-color: brown;
    background-color : lavender;
    
}
#marge {
    
    display: block;
    position: relative;
    float: right;
    right: 5px;
    top : 5px;
    width:17%;
    color: #cc0000;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    background-color: bisque;
 }

#header {
    display: block;
    margin: auto;
    position: relative;
    top : 5px;
    width: 98%;
    color: #cc0000;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    background-color : buttonhighlight;

}

#menu_header li{
    display: inline-block;
    margin:  5px;
  
    background-attachment: scroll;
    background-position: center;
}

#menu_header {
    
    font-family: fantasy;
    font-size: 20px;
    background-color: orange;
    text-align: center;
    border-style: outset;
    border-width:2px;
    border-color: #ff99ff;
    position: relative;
    margin : 5px;
}
#center{
        margin:auto;
    display: block;
    position: relative;
    top : 10px;
    width: 98%;
    height: auto;
    color: #cc0000;
    border-color: green;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
 }
#footer {
    margin : auto;
    display: block;
    position: relative;
    top : 15px;
    width: 98%;
    color: #cc0000;
    border-color: greenyellow;
    border-style: solid;
    border-width: 1px;
    background-color: activeborder;
}



